#esatLogo {
    width: 100px;
    height: 100px;
    margin-left: 60%;
    margin-top: 2%;
}

#esatLogocard {
    width: 80px;
    height: 80px;
    margin-left: 25%;
    margin-top: 2%;
}

#esatTxt {
    margin-left: -10%;
}

#disclosure {
    text-align: justify;
    background-color: rgb(211, 238, 158);
    border: rgb(64, 35, 131) 4px solid;
}

#disclose {
    font-weight: bolder;
}

#cardEsat {
    background-color: #e491a3;
}

.esatCard {
    text-align: right;
}

#ecard {
    margin-left: 12%;
}

#privacyNote {
    font-size: xx-large;
    color: red;
}

#privacy {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.part1 td,
.esatPrint {
    text-align: right;
    font-size: smaller;
}

.part1a {
    border: black 2px solid;
}

td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

#objective {
    font-weight: bolder;
    background-color: rgb(211, 238, 158);
}

.head {
    background-color: rgb(211, 238, 158);
    padding: 7px;
}

.radio {
    width: 30%;
}

.lvlOfCapability,
.priorityForDev {
    border-right: 1px black solid;
}

.part2Instruction,
.part3Instruction {
    border: black 2px solid;
    background-color: white;
}

.bgContainer {
    background-color: rgb(211, 238, 158);
    border: rgb(81, 22, 218) 4px solid;
}

.bgCard {
    background-color: rgb(211, 238, 158);
    border: green 3px solid;
}

.heading {
    font-weight: bolder;
    font-size: 20px;
}

#radioBtn {
    justify-content: space-around;
}

.checkBox {
    background-color: rgb(211, 238, 158);
    width: 7px;
}

.infoDetails {
    background-color: rgb(211, 238, 158);
}