#esatLogo {
    width: 100px;
    height: 100px;
    margin-left: 60%;
    margin-top: 2%;
}

#esatLogocard {
    width: 80px;
    height: 80px;
    margin-left: 25%;
    margin-top: 2%;
    border-radius: 50px;
}

#disclosure {
    text-align: justify;
    background-color: rgb(211, 238, 158);
    border: rgb(64, 35, 131) 4px solid;
}

#disclose {
    font-weight: bolder;
}

#cardEsat {
    background-color: #e491a3;
}

.esatCard {
    text-align: right;
}

#ecard {
    margin-left: 12%;
}

#privacyNote {
    font-size: xx-large;
    color: red;
}

#privacy {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.part1 td,
.esatPrint {
    text-align: right;
    font-size: smaller;
}

.esatPrint {
    font-weight: bold;
}

.part1a {
    border: black 2px solid;
}

td {
    border: .5px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

#objective {
    font-weight: bolder;
    background-color: rgb(211, 238, 158);
}

.head {
    background-color: rgb(211, 238, 158);
    padding: 7px;
}

.radio {
    width: 30%;
}

.lvlOfCapability,
.priorityForDev {
    border-right: 1px black solid;
}

.part2Instruction,
.part3Instruction {
    border: black 2px solid;
    background-color: white;
}

.bgContainer {
    background-color: rgb(211, 238, 158);
    border: rgb(81, 22, 218) 4px solid;
}

.bgCard {
    background-color: rgb(211, 238, 158);
    border: green 3px solid;
}

.heading {
    font-weight: bolder;
    font-size: 20px;
}

#radioBtn {
    justify-content: space-around;
}

.checkBox {
    background-color: rgb(211, 238, 158);
    width: 7px;
}

.infoDetails {
    background-color: rgb(211, 238, 158);
}

.showDataPart1 {
    width: 30%;
}

.objNo {
    width: 1%;
}

#disclosureText {
    font-size: 20px;
    text-align: center;
    /* background-color: rgb(211, 238, 158);
    padding: 10px;
    border: black solid; */
}

#alert {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#alert1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#alertMsg {
    margin-top: 100%;
}

#checkRequired {
    color: red;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
}

@media print {
     ::-webkit-scrollbar:horizontal {
        height: 0;
        width: 0;
        display: none;
    }
    v-simple-table {
        overflow-x: hidden;
        color: red;
    }
}