#esatLogo {
    width: 100px;
    height: 100px;
    margin-left: 60%;
    margin-top: 2%;
}

#esatLogocard {
    width: 80px;
    height: 80px;
    margin-left: 25%;
    margin-top: 2%;
    border-radius: 50px;
}

#disclosure {
    text-align: justify;
    background-color: rgb(211, 238, 158);
    border: rgb(64, 35, 131) 2px solid;
}

#disclose {
    font-weight: bolder;
}

#cardEsat {
    background-color: #e491a3;
}

.esatCard {
    text-align: right;
}

#ecard {
    margin-left: 12%;
}

#privacyNote {
    font-size: x-large;
    color: red;
}

#privacy {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.part1 td,
.esatPrint {
    text-align: right;
    font-size: smaller;
}

.esatPrint {
    font-weight: bold;
}

.part1a {
    border: black 2px solid;
}

/* td {
    border: .5px solid black;
    padding-left: 10px;
    padding-right: 10px;
} */
#tdEsat {
    border: .5px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
#objective {
    font-weight: bolder;
    background-color: rgb(211, 238, 158);
}

.head {
    background-color: rgb(211, 238, 158);
    padding: 7px;
}

.radio {
    width: 30%;
}

.lvlOfCapability,
.priorityForDev {
    border-right: 1px black solid;
}

.part2Instruction,
.part3Instruction {
    border: black 2px solid;
    background-color: white;
}

.bgContainer {
    background-color: rgb(211, 238, 158);
    border: rgb(81, 22, 218) 2px solid;

}

.bgCard {
    background-color: rgb(211, 238, 158);
    border: green 2px solid;
}

.heading {
    font-weight: bolder;
    font-size: 20px;
}

#radioBtn {
    justify-content: space-around;
}

.checkBox {
    background-color: rgb(211, 238, 158);
    width: 7px;
}

.infoDetails {
    background-color: rgb(211, 238, 158);
}

.showDataPart1 {
    width: 30%;
}

.objNo {
    width: 1%;
}

#disclosureText {
    font-size: 20px;
    text-align: center;
    /* background-color: rgb(211, 238, 158);
    padding: 10px;
    border: black solid; */
}

#alert {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#alert1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#alertMsg {
    margin-top: 100%;
}

#checkRequired {
    color: red;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
}

.fieldRequire {
    color: red;
    font-weight: bolder;
}

@media print {
    * {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
        color: black !important;
        font-family: 'Arial';
    }
    /* #colgroup1 {
        background-color: red;
        width: 40px;
        font-family: 'docs-Arial Narrow';
        font-style: italic;
    }
    #colgroup2 {
        background-color: green;
    }
    #colgroup3 {
        background-color: blue;
    }
    #colgroup4 {
        background-color: orange;
        width: 40px;
        font-family: 'docs-Arial Narrow';
        font-style: italic;
    }
    #colgroup5 {
        background-color: yellow;
        width: 80px;
        font-family: 'docs-Arial Narrow';
        font-style: italic;
    } */
    #emptyCol {
        width: 2px !important;
    }
    .esatPrint {
        width: 110px !important;
        height: 1px !important;
    }
    .showDataPart1 {
        width: 130px !important;
        height: 1px !important;
    }
    .tRow {
        font-size: 8px;
    }
    .part1FontSize,
    .part2FontSize,
    .part3FontSize {
        font-size: 8px;
    }
    .objNo,
    .text-center,
    .objDes,
    .obsHeadHght,
    .text-left,
    .coreHeadHght,
    .part3TdHght {
        height: 1px !important;
    }
    .text-center,
    .text-left {
        width: 40px !important;
    }
    .part2TblHead {
        font-size: 10px;
    }
    .objsHead,
    .coreHead {
        font-size: 9px;
    }
    #part3 {
        text-align: left;
        margin-top: 30px;
    }
    .heading {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .printParts {
        font-size: 13px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
}